# Python Language Basics

### About Magic Commands

IPython’s special commands (which are not built into Python itself) are known as “magic” commands. These are designed to facilitate common tasks and enable you to easily control the behavior of the IPython system.
A magic command is any command prefixed by the percent symbol %. For example, you can check the execution time of any Python statement, such as a matrix multiplication, using the %timeit magic function

```python
In [20]: a = np.random.randn(100, 100)

In [20]: %timeit np.dot(a, a)
10000 loops, best of 3: 20.9 µs per loop
```

%magic :Display detailed documentation for all of the available magic commands

### Matplotlib Integration

if you want to see the graphics in your jupiter notebook use the %matplotlib magic command

```python
In [26]: %matplotlib inline
```

## Python Language Basics

### Language Semantics

#### Indentation, not braces

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

for mulitple statements in a single line (discouraged)

```python
a = 5; b = 6; c = 7
```

In [5]:
variablename=5
variablename

5

In [8]:
variablename=5.0

variablename

5.0

In [13]:
def foo(x,y=4):
   a=3
   b=4
   return x+y
print("hello world") 
print(foo(5,4)) 
print(foo(4))

hello world
9
8

#### Everything is an object

#### Comments

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

```python
print("Reached this line")  # Simple status report
```

#### Function and object method calls

```
result = f(x, y, z)
g()
```

```
obj.some_method(x, y, z)
```

Functions can take both positional and keyword arguments:

```python
result = f(a, b, c, d=5, e='foo')
```

#### Variables and argument passing

When assigning a variable (or name) in Python, you are creating a reference to the object on the righthand side of the equals sign.

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
a.append(2)# dot operation, append() method belongs to class of lists
b

[1, 2, 3, 2]

Assignment is also referred to as binding, as we are binding a name to an object. 
<p>
When you pass objects as arguments to a function, new local variables are created referencing the original objects without any copying.
</p>
If you bind a new object to a variable inside a function, that change will not be reflected in the parent scope. It is therefore possible to alter the internals of a <b>mutable</b> argument. Suppose we had the following function:</p>

```python
def append_element(some_list, element):
    some_list.append(element)
```

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

#### Dynamic references, strong types

Object references in Python have no type associated with them

In [14]:
a = 5
type(a)

int

In [ ]:
a = 'foo'
type(a)

str

Python is considered a strongly typed

In [ ]:
'5' + 5 # in some scripting languages this statement will output 55

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

In [ ]:
a = 5

In [ ]:
isinstance(a, int)

True

In [ ]:
a="a string"
isinstance(a, str)

True

In [15]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

#### Imports

In Python a module is simply a file with the .py extension containing Python code. Suppose that we had the following module:

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

If we wanted to access the variables and functions defined in some_module.py, from
another file in the same directory

In [ ]:
import some_module 
result = some_module.f(5) 
pi = some_module.PI

In [ ]:
#Or equivalently:
from some_module import f, g, PI result = g(5, PI)
#By using the as keyword you can give imports different variable names: import some_module as sm
from some_module import PI as pi, g as gf

#### Binary operators and comparisons

In [ ]:
5 - 7
12 + 21.5
5 <= 2

To check if two references refer to the same object, use the is keyword

In [16]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [ ]:
a == c

True

In [ ]:
a = None
a is None

For list of binary operations see Page 37 in book "Python for data science"

#### Mutable and immutable objects

Mutable: lists,dicts numpyarrays

In [17]:
a_list = ['foo', 2, [4, 5]] # lists are mutable
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

immutable: strings and tuples

In [ ]:
a_tuple = (3, 5, (4, 5))# tuples they are inmutable
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

 built-in types for handling numerical data, strings, boolean (True or False) values, and dates and time. These <b>“single value”</b> types are also called scalar types

#### Numeric types

Float and int mainly. An int can store arbitrarily large numbers.

In [ ]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [ ]:
fval = 7.243
fval2 = 6.78e-5

In [ ]:
3 / 2

1.5

In [ ]:
3 // 2 # in case you want to use integer division //

1

#### Strings

a = 'one way of writing a string'<br>
b = "another way"

In [19]:
c = """
This is a longer string that
spans multiple lines
"""

In [20]:

c.count('\n')

3

In [22]:
alist=[1,2,3]
print(alist[1])
a = 'this is a string'
print(a[10])
a[10] = 'f'#string are inmutable

2
s

TypeError: ignored

In [24]:
b = a.replace('string', 'longer string')
b
b is a

False

In [ ]:
a

'this is a string'

In [25]:
a = 5.6
s = str(a)# s will be char 5 char. char 6
print(s)

5.6

In [ ]:
s = 'python'
#Strings are a sequence of 
#Unicode characters and therefore can be treated like other sequences, such as lists and tuples
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
s[:3]

'pyt'

In [28]:
s = '12\\n34'# \ is escape sequence
print(s)

12\n34

In [ ]:
s = r'this\has\no\special\characters'
#The r stands for raw.
#preface the leading quote of the string with r=the characters should be interpreted as is:
s

'this\\has\\no\\special\\characters'

In [ ]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [ ]:
a*3

'this is the first half this is the first half this is the first half '

In [ ]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [ ]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

#### Bytes and Unicode

In [ ]:
val = "español"
val

In [ ]:
val_utf8 = val.encode('utf-8')
val_utf8
type(val_utf8)

In [ ]:
val_utf8.decode('utf-8')

In [ ]:
val.encode('latin1')
val.encode('utf-16')
val.encode('utf-16le')

In [ ]:
bytes_val = b'this is bytes'
bytes_val
decoded = bytes_val.decode('utf8')
decoded  # this is str (Unicode) now

#### Booleans

In [29]:
True and True
False or True

True

#### Type casting

In [30]:
s = '3.14159'
fval = float(s) # casttype(thethingcasted)
type(fval)
int(fval)

3

#### None

None is the Python null value type

In [ ]:
a = None
a is None
b = 5
b is not None

a technical point: None is not only a reserved keyword but also a unique instance of NoneType:

In [ ]:
type(None)

#### Dates and times

The built-in Python datetime module provides <b>datetime, date, and time types</b>. The datetime type,  combines the information stored in date and time and is the most commonly used:

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [ ]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [ ]:
dt.strftime('%m/%d/%Y %H:%M')#The strftime method formats a datetime as a string.

'10/29/2011 20:30'

In [ ]:
#Strings can be converted (parsed) into datetime objects with the strptime function:
datetime.strptime('20091031', '%Y%m%d')

In [ ]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [ ]:
datetime.now()

datetime.datetime(2019, 2, 20, 12, 6, 0, 31777)

In [ ]:
#datetime.datetime is an immutable type, methods like these always produce new objects.
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [ ]:
dt
dt + delta

### Control Flow

#### if, elif, and else

In [31]:
x=7
if x < 0:
    print('It\'s negative')

In [ ]:
if x < 0:
    print(r"It's negative")
elif x == 0:#== checks for equilty not assignment
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')#catch all else

Positive and larger than or equal to 5

In [32]:
a = 5
b = 7
c = 8
d = 4
if a < b or c > d:
    print('Made it')

Made it

In [ ]:
4 > 3 > 2 > 1

True

#### for loops

In [ ]:
for value in collection:
    # do something with value

In [33]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    print(value)

1
2
4
5

In [34]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    print(value)

1
2
0
4
6

In [35]:
for i in range(10):#creates  list starting 0 upto 10 (10 i snot included)[0,1,2,...9]
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

In [ ]:
range(4)

range(0, 4)

In [ ]:
for a, b, c in iterator:
    # do something

#### while loops

In [ ]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

#### pass

In [ ]:
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

#### range

In [37]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(0, 20, 2))# starts from 0 goes upto 20 by increasing in steps of 2 [0,2,4....,18]
list(range(5, 0, -1))# 5,4,,,,,1

[5, 4, 3, 2, 1]

In [ ]:
#A common use of range is for iterating through sequences by index:
seq = ["a", "b", 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [ ]:
#While you can use functions like list to store all the integers generated by range in some other data
#structure, often the default iterator form will be what you want.
#This snippet sums all numbers from 0 to 99,999 that are multiples of 3 or 5:
#While the range generated can be arbitrarily large, the memory use at any given time may be very small.
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary expressions

<p>A ternary expression in Python allows you to combine an if-else block that pro‐ duces a value into a single line or expression. The syntax for this in Python is:</p>
value = true-expr if condition else false-expr

In [38]:
x = 5
b='Non-negative' if x >= 0 else 'Negative'

'Non-negative'